.test {
  color: blue;
  margin-top: 68px;
}

.header .test {
  margin-top: 200px;
}

.header.test {
  margin-top: 200px;
}

.header >.test {
  margin-top: 200px;
  text-decoration: underline;
}
